.box {
    display: grid;
    width: auto;
    grid-template-columns: auto auto auto;
    align-items: start;
    justify-content: space-between;
  }
  
.box :first-child {
    align-self: center;
  }

span {
    font-size: 1.6em;
    position: relative;
    top: 40px; 
    left: 40px;
    right: 40px;
  }