<div class="box">
    <div>
        <h1>Tomate</h1>
       <img src="../../../image/Tomate.jpg"
            width="524"
            height="740"> 
    </div>
    <div    width="1178"
            height="466">
        <span>La tomate est un fruit au sens des botanistes (elle porte des graines), mais elle est cuisinée comme un légume (en fait, la distinction entre "fruit" et "légume" est uniquement culinaire, elle n'a pas de pertinence en botanique) ; elle fait partie d'ailleurs de la catégorie des légumes-fruits.</span >
    </div>
</div>