<div class="container-modal-card">
    <h1 mat-dialog-title>Add flower</h1>
    <div mat-dialog-content>
        <div mat-form-field appearance="fill">
            <div mat-label>Favorite Animal</div>
            <input matInput [(ngModel)]="data.name">
            <input matInput [(ngModel)]="data.description">
            <input matInput [(ngModel)]="data.image_url">
        </div>
    </div>
    <div mat-dialog-actions>
    <button mat-button mat-dialog-close >Close</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
    </div>
</div>
  