.meteo-card {
    max-width: 80px;
    background-color: #fff;
    margin: 15px 16px;
}

.meteo-content {
    display: flex;
    justify-content: center;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    display: flex;
    height: 70px;
    margin-bottom: 10px;
}