.meteo-card {
  width: 100px;
  background-color: #fff;
  gap: 8px;
  margin: 15px;
}

.meteo-content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}
.temp-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    display: flex;
    height: 70px;
    margin-bottom: 10px;
}
