.picture{
    display: flex;
    justify-content: center;
  }

h1{
    display: flex;
    justify-content: center;
    color: black;
    background-color: darkseagreen;
}

.container-modal-card{
    background-color: darkseagreen;
    width: 1000px;
    border-radius: 10px;
}

p{
    color: black;
    text-align: center;
    width: auto;
    height: auto;
}

.buttonClose{
    color: black;
    background-color: darkseagreen;
}

.title{
    color: black;
    background-color: darkseagreen;
}

.mat-mdc-dialog-actions.mdc-dialog__actions{
    background-color: darkseagreen;
}