<div class="container-card">
  <mat-card *ngFor="let arbre of Arbres" class="arbre-card">
    <mat-card-header class="title-card">
      <mat-card-title>{{ arbre.name }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="arbre.image_url"
      alt="Photo of a {{ arbre.name }}"
      class="picture"
    />
    <mat-card-content class="container-description">
      <p>
        {{ arbre.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="container-button">
      <button
        mat-button
        color="danger"
        class="detail-button"
        (click)="openDialog(arbre)"
      >
        <span class="material-symbols-outlined visibility">visibility</span>
      </button>
      <button
        mat-button
        color="primary"
        class="delete-button"
        (click)="openDeleteDialog(arbre)"
      >
        <span class="material-symbols-outlined delete">delete</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-button-add class="button-add" (click)="addSampleArbre()"></app-button-add>
