.detail-button {
    color: #000;
}

.flower-card {
    max-width: 400px;
    color: #000;
    background-color: #fff;
    margin: 32px 16px;
}

.flower-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}